body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom: -6px; cursor: pointer}
.w3-third img:hover{opacity: 0.6; transition: 0.3s}

/* Oculta o texto em telas pequenas */
@media (max-width: 700px) {
    .top-text {
      display: none;
    }
  }

  